<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/602a3d1d6d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container py-3">
        <h1 class="text-center">All Contacts</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputName" class="form-label">Name</label>
                      <input type="Name" class="form-control" id="exampleInputName" aria-describedby="Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputNumber" class="form-label">Phone Number</label>
                        <input type="Number" class="form-control" id="exampleInputNumber" aria-describedby="Number">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputAddress" class="form-label">Address</label>
                        <input type="Address" class="form-control" id="exampleInputAddress" aria-describedby="Address">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>